@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* font-family: "Merriweather", serif; */
/* font-family: "Inter", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
/* shared styles */
.body-margin{
    margin: 0 auto;
}
.section-divider{
    margin-top: 120px;
    margin-bottom: 120px;
}
section{
    width: 1320px;
}
.section-descriptions{
    font-size: 20px;
    color: #07021199;
    line-height: 32px;
}
/* hesder section */
.header-section{
    background-image: linear-gradient(180.00deg, #070211,#07021100 100%),url("../images/Banner\ Image.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.banner-subtitle{
    font-size: 32px;
    color: #ffff;
    margin-bottom: 16px;
}
.banner-title{
    font-size: 72px;
    color: #ffff;
}

/* offer section */
.offer-description{
    display: flex;
    justify-content: center;
}
.offer-title{
    color: #ff0000;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.offer-subtitle{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.offer-second-title{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.offer-img-container{
    width: 802.9px;
}
.offers img{
    width: 100%;
}


/* welcome party */
.welcome-party{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 94.17px;
    padding: 0 138px;
}
.welcome-title{
    font-family: "Merriweather", serif; 
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    color: #ffff;
    margin-bottom: 24px;
}
.welcome-description{
    color: #ffffffcc;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.join-link{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
}
.year-2024{
    width: 319.83px;
}

/* party timing section */
.party-timing{
    background-image: linear-gradient(#EF3B36, #FFFFFF);
    height: 482px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.place-date-time h4{
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    margin-bottom: 48px;
 }
 .place-date-time h4 .time-title{
    color: #FF0000;
 }
 .join-btn-container{
    text-align: center;
 }
 .join-btn{
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF0000;
    padding: 16px 32px;
 }

 /* new best offer */
 .new-offer-section {
    display: flex;
    justify-content: center;
 }
 .new-offer{
    display: flex;
    align-items: center;
 }
 .new-best-offer-container{
    width: 393px;
 }
 .best-offer-img-container{
    margin: 0 118px 0 70px;
    width: 463px;
 }
 .year-img-container{
    width: 140px;
 }
 .year-container{
    width: 276px;
 }
 .new-best-offer{
    font-size: 24px;
    color: #ff0000;
    font-weight: 500;
    margin-bottom: 16px;
 }
 .comming-soon{
    font-size: 48px;
    font-family: "Merriweather", serif;
    margin-bottom: 22px;
 }
 .new-offer-img{
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 49.8px;
    width: 100%;
 }
 .year-2024{
    font-size: 48px;
    color: #FF0000;
    margin-bottom: 16px;
    width: 100%;
 }

 /* holiday section */
 .holiday-section{
    height: 993.07px;
 }
 .holiday-sub-title{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
 }
 .holiday-title{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 28px;
 }
 .holiday-title span{
    font-family: Merriweather;
    color: #FF0000 !important;
 }
 .holiday-description{
    text-align: center;
    margin-bottom: 64px;
 }
 .holiday-picture{
    background-image: url("../images/Rectangle_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
 }
 .holiday-img-2{
    width: 305.69px;
 }
 .holiday-bg-solid{
    width: 1320px;
    height: 662.07px;
    position: relative;
 }
 .bg-img{
    width: 1320px;
    height: 229px;
    background-image: url(../images/Rectangle_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 75.5%;
 }
 .img-container{
    display: flex;
    justify-content: center;
 }
 .img-left{
    width: 796.46px;
    height: 662.07px;
    position: relative;
    z-index: 1;
 }
 .img-right{
    width: 305.69px;
    height: 305.69px;
    padding: 9.17px;
 }